.form__fieldset {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    grid-gap: 20px;
    border-radius: 10px;
    color: white;
    background-color: #0000006b;
    border-style: none;
    box-shadow: 0px 0px 200px 50px rgb(0, 0, 0);
    margin: 0;
    padding: 10px;
}

.form__fieldsetInputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px 20px;
    padding: 10px;
}

.form__fieldsetButton {
    display: grid;
    align-content: center;
    justify-items: stretch;
}

.form__legend {
    background-color: #38a3a5;
    color: white;
    border-radius: 5px;
    padding: 20px;
}

.form__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    height: 50px;
    box-shadow: 0px 0px 20px 3px black;
    background-color: rgba(0, 0, 0, 0.647);
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-weight: 700;
    margin: 0;
    outline: none;
    border: none;
}

.form__select {
    height: 50px;
    box-shadow: 0px 0px 20px 3px black;
    background-color: hsla(181, 49%, 30%, 0.882);
    border-radius: 5px;
    padding: 15px;
    color: white;
    margin: 0;
    outline: none;
    border: none;
}

.form__button {
    height: 50px;
    box-shadow: 0px 0px 20px 3px black;
    background-color: #277172e1;
    border-radius: 5px;
    padding: 15px;
    color: white;
    transition: 200ms;
    outline: none;
    border: none;
}

.form__button:hover {
    background-color: hsla(181, 49%, 40%, 0.882);
    cursor: pointer;
}

.form__button:active {
    background-color: transparent;
}