html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: large;
  font-weight: 400;
  color: white;
  background-image: url("https://i.postimg.cc/HnTvLvXn/banknotes-4073891.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}